// Colors.
// =========================================================

/** Primary Color Code */
$primary-light: #f6f4ff;
$primary-main: #5943be;
$primary-dark: #6e63ab;
$primary-bg: #9f96cd;
// #7f74ba

/** Secondary Color Code */
$secondary-light: #edf6ff;
$secondary-main: #205096;

// Tertiary colours
$tertiary-light: #ffece7;
$tertiary-main: #ee6427;
$quaternary-main: #ee6427;

$pink-main: #f0c1f2;
/** Error Color Code */
$error-light: #eb7070;
$error-main: #e64d4d;
$error-dark: #a13535;

/** Warning Color Code */
$warning-light: #f7c77d;
$warning-main: #f5b95d;
$warning-dark: #ab8141;

/** Info Color Code */
$info-light: #4fc3f7;
$info-main: #29b6f6;
$info-dark: #0288d1;

/** Success Color Code */
$success-light: #83cfa4;
$success-main: #65c48e;
$success-dark: #468963;

/** Text Color Code */
$color-alpha: #1c1e21;
$color-beta: #969696;
$color-gamma: #0066cc;
$color-psi: #fff;
// $color-omega: #;

/** Background Color Code */
$bg-color-alpha: #f5f6f8;
$bg-color-beta: #fff;
$bg-color-gamma: #e6e6e6;

/** Border Color Code */
$border-alpha: #ebebeb;
$border-beta: #d1d1d1;

/** Gray Color Code */
$color-gray-text: #7e8796;
$color-gray: #fafafa;
$color-gray-1: #f5f5f5;
$color-gray-2: #eeeeee;
$color-gray-3: #e0e0e0;
$color-gray-4: #bdbdbd;
$color-gray-5: #9e9e9e;
$color-gray-6: #757575;
$color-gray-7: #616161;
$color-gray-8: #424242;
$color-gray-9: #212121;
//////////////////////////
$color-grey-10: #969696;
$color-grey-11: #d8d8d8;
$color-grey-12: #f7f7f7;
/** Common Color Code */
$black: #000;
$white: #fff;

////////////////////
$black-2: #2f3043;
// $bg: #131532;
$bg: #34257a;
/** Fontsizes */
$font-small-x: 12px;
$font-small-xx: 14px;
$font-meduim-x: 16px;
$font-meduim-xx: 18px;
$font-large-x: 20px;
$font-large-xx: 24px;
$font-xlarge-x: 28px;
$font-xlarge-xx: 35px;

$bp-largest: 95.31em; //1525px
$bp-larger: 87.5em; //1400px
$bp-large: 75em; //1200px
$bp-medium: 61.8em; //990px
$bp-medium-sm: 47.93em; //767px
$bp-small: 35.75em; //572px
