@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";
.main-section {
  /* margin: 2rem; */
  height: 100%;
  display: flex;
  /* border-radius: 20px; */
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  //   rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-left-radius: 29px;
  border-bottom-left-radius: 35px;
  background-color: #fff;
  margin-left: -25px;
  position: relative;
  z-index: 1;
  // overflow-y: scroll;

  @include respond(tab-land) {
    margin-left: 0;
    display: block;
  }
}
.content-2 {
  overflow-y: scroll;

  @include respond(tab-land) {
    overflow-y: auto;
  }
}
