<mat-card>
  <img src="../../../assets/images/forgot-password.PNG" class="form__img" />
  <h1 class="form__heading">
    Forgot <br />
    Password?
  </h1>
  <!-- Username -->
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="outline" *ngIf="showfield">
      <mat-label>Enter Username</mat-label>
      <input
        matInput
        placeholder="Enter your username"
        formControlName="username"
      />
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>

    <div *ngIf="showForgotField">
      <!-- OTP -->
      <mat-form-field appearance="outline" *ngIf="showDiv">
        <mat-label>OTP</mat-label>
        <input matInput placeholder="Enter your otp" formControlName="otp" />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmitUsername()"
        class="form__btn"
        *ngIf="showBtn"
      >
        Submit
      </button>
      <mat-error *ngIf="showBtn">{{ errMsg }}</mat-error>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmitOtp()"
        class="form__btn"
        *ngIf="!showBtn"
        [disabled]="!form.get('otp')?.dirty"
      >
        Send OTP
      </button>
      <mat-error *ngIf="!showBtn">{{ errorMsg }}</mat-error>
    </div>

    <!-- Update password -->
    <div *ngIf="showUpdateField">
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input
          matInput
          placeholder="Enter new Password"
          formControlName="password"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <div
        *ngIf="form.get('password')?.touched || form.get('password')?.dirty"
        class="margin-b-sm"
      >
        <mat-error *ngIf="form.get('password')?.errors?.['required']">
          Password is required.
        </mat-error>
        <mat-error *ngIf="form.get('password')?.errors?.['minlength']">
          Password must be at least 8 characters long.
        </mat-error>
        <mat-error *ngIf="form.get('password')?.errors?.['invalidPassword']">
          Password must contain at least 1 character, 1 uppercase letter, 1
          lowercase letter, and 1 special character.
        </mat-error>
      </div>

      <button
        mat-raised-button
        color="primary"
        (click)="onSubmitPassword()"
        class="form__btn"
        *ngIf="showBtn3"
        [disabled]="form.get('password')?.errors?.['invalidPassword'] || form.get('password')?.errors?.['minlength'] || form.get('password')?.errors?.['required']"
      >
        Submit
      </button>
    </div>
  </form>
</mat-card>
